
{% extends 'blog/base.html' %}
{% block content2 %}

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">


      <div class="col-md-4">
        <h2>Последнее место работы</h2>
        <p>июнь 2019 — текщее время</p>
        <p>ООО "Облако",должность программист. Разработка кроссплатформенного ПО на Qt для торговых точек. </p>
        <p><a class="btn btn-secondary" href="#" role="button">Узнать больше &raquo;</a></p>
      </div>

      <div class="col-md-4">

        <h2>Дипломный проект</h2>
        <p>феврль 2019 — июнь 2019</p>
        <p> Обнаружение и трекинг объектов на основе алгоритмов компьютерного зрения. Нейронные сети.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Узнать больше &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Преддипломная практика</h2>
        <p>апрель 2019 — май 2019</p>
        <p> It Park, ООО "Управление информационными проектами", разработка системы распознавания текста.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Узнать больше &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Учёба</h2>
        <p>сентябрь 2015 — июнь 2019</p>
        <p> КФУ ИВМиИТ-ВМК, прикладная математика и информатика. Кафедра анализа данных и исследования операций.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Узнать больше &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Конкурсы</h2>
        <p>март 2019 — апрель 2019</p>
        <p> Соревнования на Kaggle, Machine Learning. Проблема двоичной классификации.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Узнать больше &raquo;</a></p>
      </div>
    </div>


    <hr>

  </div> <!-- /container -->
{% endblock %}